name: action-1

on:
  workflow_dispatch:
    inputs:
      pr-number:
        description: default
        required: true
        type: string

jobs:
  FirstAction:
    runs-on: ubuntu-latest
    env:
      BUILD_BUILDID: ${{ github.run_id }}
      BUILD_SOURCEBRANCH: ${{ github.ref }}
      PR_NUMBER: ${{ github.event.inputs.pr-number }}
      BUILD_SOURCEBRANCHNAME: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: printenv | sort
      - run: echo "HELLO FIRST"
      - run: echo ${{github.event}}