name: action-1

on:
  pull_request:
    
  workflow_dispatch:
    inputs:
      prNumber:
        description: 'PR Number'
        required: true
        default: default
        type: string
      targetBranch:
        description: 'PR target branch name'
        required: true
        default: default
        type: string
      sourceBranch:
        description: 'PR source branch name'
        required: true
        default: default
        type: string
      PRID:
        description: 'PR ID'
        required: true
        default: default
        type: string
      commitSHA:
        description: 'Source commit SHA'
        required: true
        default: default
        type: string

env:
      REF: ${{ github.ref }}

jobs:
  FirstAction:
    runs-on: ubuntu-latest
    env:
      BUILD_BUILDID: ${{ github.run_id }}
      BUILD_SOURCEBRANCH: ${{ github.ref }}
      PR_NUMBER: ${{ github.event.inputs.prNumber }}
      BUILD_SOURCEBRANCHNAME: ${{ github.ref_name }}
      SYSTEM_PULLREQUEST_TARGETBRANCH: ${{ github.event.inputs.targetBranch }}
      SYSTEM_PULLREQUEST_SOURCEBRANCH: ${{ github.event.inputs.sourceBranch }}
      SYSTEM_PULLREQUEST_PULLREQUESTID: ${{ github.event.inputs.PRID }}
      SYSTEM_PULLREQUEST_SOURCECOMMITID: ${{ github.event.inputs.commitSHA }}
      ID: ${{github.event.pull_request.id}}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: |
          echo "$SECRET"
        env:
          SECRET: ${{ secrets.TEST_SECRET}}
      - run: printenv | sort
      - run: echo "${{env.REF}}" >> arftifact
      - name: Upload environment variables artifact
        uses: actions/upload-artifact@v3
        with:
          name: ref-artifact
          path: artifact
