name: learn-github-actions
on:
  workflow_run:
    workflows:
      - second comm
    types:
      - completed
jobs:
  first:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: echo "ISOK=true" >> $GITHUB_ENV
      - name: Set base env variables
        run: |
          cat <<EOT >> environment
          BUILD_BUILDID=${{ github.run_id }}
          BUILD_SOURCEBRANCH=${{ github.ref }}
          EOT

      - name: Download environment variables artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: second_comm.yml
          run_id: ${{github.event.workflow_run.id}}
          name: env-artifact

      - name: Define env variables
        run: |
          input_file="environment"
          while read line
          do
          echo "$line" >> $GITHUB_ENV
          done < "$input_file"

      - run: printenv | sort
  second:
    runs-on: ubuntu-latest
    steps:
      - run: echo "test"
  third:
    runs-on: ubuntu-latest
    steps:
      - run: echo "test"
  fourth:
    runs-on: ubuntu-latest
    steps:
      - run: echo "test"

