name: learn-github-actions
on:
  workflow_run:
    workflows:
      - second comm
    types:
      - completed
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: script_label
      uses: actions/github-script@v6
      id: has-label
      with:
        script: |
            let PR = await github.rest.issues.listLabelsOnIssue({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: 17
            })
            core.exportVariable('CONTEXT', context);
            core.exportVariable('PR_INFO', PR);
            console.log(PR)
            let hasLabel = PR.data.filter((label) => {
              return label.name === 'my-label'
            })[0];

            if(hasLabel === undefined)
              return 'false'
            return 'true'
    - run: |
        echo ${{steps.has-label.outputs.result}}
    outputs:
      HAS_LABEL: ${{steps.has-label.outputs.result}}
  first:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: echo "ISOK=true" >> $GITHUB_ENV
     
      - run: echo ${{needs.check.outputs.HAS_LABEL}}
        if: ${{contains(needs.check.outputs.HAS_LABEL,'true')}}
      - name: Set base env variables
        run: |
          cat <<EOT >> environment
          BUILD_BUILDID=${{ github.run_id }}
          BUILD_SOURCEBRANCH=${{ github.ref }}
          EOT

      - name: Set env variables if there is a PR
        run: |
          cat <<EOT >> environment
          SYSTEM_PULLREQUEST_TARGETBRANCH=${{ github.event.pull_request.base.ref }}
          SYSTEM_PULLREQUEST_SOURCEBRANCH=${{ github.event.pull_request.head.ref }}
          SYSTEM_PULLREQUEST_PULLREQUESTID=${{ github.event.pull_request.id }}
          SYSTEM_PULLREQUEST_SOURCECOMMITID=${{ github.event.pull_request.head.sha }}
          DEPLOYBASEPATH=pull/${{github.event.pull_request.number}}
          DEPLOYURL=https://${{env.DEPLOYHOST}}/pull/${{github.event.pull_request.number}}
          EOT
        if: ${{startsWith(github.ref, 'refs/pull/')}}

      - name: Set env variables if there is not a PR
        run: |
          cat <<EOT >> environment
          DEPLOYBASEPATH=heads/${{github.ref_name}}
          DEPLOYURL=https://${{env.DEPLOYHOST}}/heads/${{github.ref_name}}
          BUILD_SOURCEBRANCHNAME=${{ github.ref_name }}
          EOT
        if: ${{!startsWith(github.ref, 'refs/pull/')}}

      - name: Define env variables
        run: |
          input_file="environment"
          while read line
          do
          echo "$line" >> $GITHUB_ENV
          done < "$input_file"

      - run: printenv | sort
  second:
    needs: check
    if: ${{ needs.check.outputs.HAS_LABEL == 'false'}}
    runs-on: ubuntu-latest
    steps:
      - run: echo "DOES NOT HAVE LABEL"

