name: second comm

on:
  workflow_run:
    workflows:
      - Comment
    types:
      - completed

jobs:
  Action:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
    - name: Download environment variables artifact
      uses: dawidd6/action-download-artifact@v2
      with:
        workflow: comm.yml
        run_id: ${{github.event.workflow_run.id}}
        name: pr_number
    - name: Define env variables
      run: |
        var=$(head -1 number)
        echo "$var" >> $GITHUB_ENV
    - name: script_label
      uses: actions/github-script@v6
      with:
          script: |
              let PR = await github.rest.pulls.get({
                pull_number: ${{env.PR_NUMBER}},
                owner: context.repo.owner,
                repo: context.repo.repo
              });
              core.exportVariable('SYSTEM_PULLREQUEST_TARGETBRANCH', PR.data.base.ref);
              core.exportVariable('SYSTEM_PULLREQUEST_SOURCEBRANCH', PR.data.head.ref);
              core.exportVariable('SYSTEM_PULLREQUEST_PULLREQUESTID', PR.data.id);
              core.exportVariable('SYSTEM_PULLREQUEST_SOURCECOMMITID', PR.data.head.sha);
              core.exportVariable('DEPLOYHOST', 'mock');
    - name: Set env variables if there is a PR
      run: |
          cat <<EOT >> environment
          SYSTEM_PULLREQUEST_TARGETBRANCH=${{ env.SYSTEM_PULLREQUEST_TARGETBRANCH }}
          SYSTEM_PULLREQUEST_SOURCEBRANCH=${{ env.SYSTEM_PULLREQUEST_SOURCEBRANCH }}
          SYSTEM_PULLREQUEST_PULLREQUESTID=${{ env.SYSTEM_PULLREQUEST_PULLREQUESTID }}
          SYSTEM_PULLREQUEST_SOURCECOMMITID=${{ env.SYSTEM_PULLREQUEST_SOURCECOMMITID }}
          DEPLOYBASEPATH=pull/${{env.PR_NUMBER}}
          DEPLOYURL=https://${{env.DEPLOYHOST}}/pull/${{env.PR_NUMBER}}
          EOT
    - run: |
          printenv | sort
    - uses: actions/upload-artifact@v2
      with:
            name: env-artifact
            path: environment   
    - name: script_label
      uses: actions/github-script@v6
      with:
        script: |
            github.rest.issues.addLabels({
              issue_number: ${{env.PR_NUMBER}},
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['my-label']
            })
