name: action-2

on:
  workflow_run:
    workflows:
      - action-1
    types:
      - completed

jobs:
  SecondAction:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
  
      - run: cat README.md
      - run: echo "HELLO SECOND"
      - name: Download  artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: first.yml
          workflow_conclusion: success
          name: art1
      - run: cat art