name: second

on:
  workflow_run:
    workflows:
      - learn-github-actions
    types:
      - completed

jobs:
  SecondAction:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    
    steps:
      - run: |
          echo "GOOD"

      - name: Download environment variables artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: learn-github-actions.yml
          run_id: ${{github.event.workflow_run.id}}
          name: run-id

      - name: Define env variable
        run: |
          var=$(head -1 run-id)
          echo "$var" >> $GITHUB_ENV

      - name: Download environment variables artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: second_comm.yml
          run_id: ${{env.RUN_ID}}
          name: env-artifact

      - name: Define env variables
        run: |
          input_file="environment"
          while read line
          do
          echo "$line" >> $GITHUB_ENV
          done < "$input_file"

      - run: printenv | sort